html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

body {
  background-color: #ECECEC;
  height: 100%;
}

#sidebar {
  overflow-y: auto;
  transform: translate(-240px);
  left: 0px;
  background-color: #FFFFFF;
  min-width: 240px;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  border-right: 1px solid gainsboro;
  transition: transform .5s ease-in-out;
  z-index: 99;
}

.sidebar-active #sidebar{
  transform: translate(0px);
}

#sidebar .appheader {
  border-bottom: 1px solid gainsboro;
  text-align: center;
}
.appheader {
  /*min-height: 50px;*/
  /*max-height: 50px;*/
  height: 40px;
  /*padding:5px;*/
}

#sidebar .navigation {
  padding: 10px 0px;
  font-weight: bold;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;*/
}
.main {
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 0px;
  transition: padding-left .5s ease-in-out;
}

.main .appheader{
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background-color: #FFFFFF;
}

.maincontent{
  padding:15px 10px;
}

button.uk-navbar-toggle{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: #39f;
}

button.uk-navbar-toggle:hover{
  color: #07d;
}

#sidebar a {
  padding: 8px 20px;
}

.shadow-box-z-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.shadow-box-z-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-box-z-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-box-z-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-box-z-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-box-z-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


#ui-blocker {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  z-index: 9999;
  background: url("../images/preloader.gif") center no-repeat white;
  /*background-color: white;*/
  width: 100%;
  text-align: center;
}

.ui-block-content{
  display: table;
  width: 100%;
  height: 100%;
}

.ui-block-spinner-container {
  display: table-cell;
  vertical-align: middle;
}
#ui-blocker i{
  
  /*margin-left:auto;
  margin-right:auto;*/
  font-size: 50px;
  
}

/*sidebar custom scrollbars*/
#sidebar::-webkit-scrollbar {
    width: 8px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2); 
}

.sidebar-active #sidebarclose {
  background-color:black;
  opacity:.5;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9;
  display: inline;
}

.app-data-col-action a{
    font-size: 0px;
  }
  .app-data-col-action a i{
    font-size:14px;
  }

/*responsive sidebar*/
@media (min-width: 480px) {
  .sidebar-active #sidebar{
    transform: translate(0px);
  }
  
  .sidebar-active .main{
    padding-left: 240px;
  }
  
  .sidebar-active #sidebarclose{
    opacity: 0;
    display: none;
  }
  
  .app-data-col-action a{
    font-size: 14px;
  }
}


/*UIKIT custom*/
.uk-nav li>a i{
  width: 20px;
}

.app-data-table{
  background-color: white;
  padding: 10px 0px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.app-data-table .uk-table > thead > tr > th {
  color: rgba(0,0,0,.54);
  font-weight: bold;
}
.app-data-table .uk-table > tbody > tr{
  border-top:1px solid gainsboro;
}

.app-data-table .uk-subnav {
  margin-left: 2px;
  margin-right: 2px;
}

.app-data-table .uk-subnav > li > a{
  padding: 3px 5px;
}

.app-data-table .uk-table > tbody > tr > .app-data-col-action > a{
  margin-right: 5px;
  margin-left: 5px;
}

.app-data-table a i{
  width: 15px;
}

.uk-dropdown {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}

h1,h2,h3,h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.uk-nav .uk-parent div{
  background-color: rgba(245,245,245,1);
}

.uk-form > .uk-form-row {
  margin-top: 5px;
}